{# templates/registration/confirmation_email.html.twig #}
<h1>Bonjour {{ user.firstName }} {{ user.lastName }} !</h1>

<p>
    Merci de vous être inscrit sur RDV Pro. Pour finaliser la création de votre compte,
    veuillez confirmer votre adresse e-mail en cliquant sur le lien ci-dessous :
</p>

<p>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse e-mail</a>
</p>

<p>
    Ce lien expirera dans 24 heures. {# Corrected: Replaced unknown filter with direct text #}
</p>

<p>
    À bientôt sur RDV Pro !
</p>
