{# templates/registration/confirmation_email.html.twig #}
<h1>Bonjour {{ user.firstName }} {{ user.lastName }} !</h1>
<h2>Votre adresse e-mail est confirmée</h2>
<p>
    Pour consulter et posez des rendez-vous pour vos clients, cliquez sur le lien suivant : <br><br>
    <a href="https://rdvpro.brelect.fr/login">Connection à mon compte RDV Pro</a>.
</p>

<p>
    Cordialement,<br>
    L'équipe RDV Pro
</p>
