{# templates/client_registration/confirmation_email.html.twig #}
<h1>Votre adresse e-mail est confirmée</h1>

<p>
    Pour consulter ou pour prendre un rendez-vous cliquez sur le lien suivant : <br><br>
    <a href="https://rdvpro.brelect.fr/login">Connection à mon compte RDV Pro</a>.
</p>

<p>
    Cordialement,<br>
    L'équipe RDV Pro
</p>